streamlit==1.31.1
opencv-python-headless==4.8.1.78
PyMuPDF==1.23.8
easyocr==1.7.1
pypdf2==3.0.1
pdf2image==1.16.3
numpy==1.26.2
pillow==10.1.0
google-generativeai==0.3.2
python-dotenv==1.0.0
reportlab==4.0.9
pandas==2.1.4
plotly==5.18.0
fpdf==1.7.2
torch==2.1.2
torchvision==0.16.2 